.notice {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: azure;
    border-radius: 20px;
    padding: .5rem;
}

.invis {
    display: none;
}

.text {
    font-size: 1.7rem;
}

.red {
    color: red;
}

.green {
    color: rgb(6, 159, 6);
}