.Headers {
    background: rgb(57, 26, 117);
    background: linear-gradient(34deg, rgba(57, 26, 117, 1) 30%, rgba(36, 10, 61, 1) 71%, rgba(58, 20, 101, 0.9752275910364145) 88%);
    display: flex;
    flex-direction: column;
    width: 100%;

}

.main__baner {
    font-size: 3rem;
    margin-left: 2.1rem;

}

.up__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logging__btns {
    margin-right: 1rem;

}

.logging__btns button {
    margin-right: .5rem;
}