.second_baner {
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .2rem;
}

.categories_container {
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.task_table {
    margin: .5rem 1rem;
    font-size: 1.3rem;
    background: rgb(45, 13, 107);
    background: linear-gradient(34deg, rgba(45, 13, 107, 1) 28%, rgba(44, 11, 77, 1) 67%, rgba(58, 17, 106, 0.9752275910364145) 92%);
}

.task_table td,
th {
    border: 1px solid black;
    text-align: center;
    padding: .5rem;
}

.task_table th {
    color: yellow;
}

/* adding task styles */
.edit_container {
    position: fixed;
    top: 74%;
    right: 10%;

}

.edit_container button {
    font-size: 1.7rem;
    padding: .5rem;
    cursor: pointer;
    background-color: purple;
    color: azure;
}

.add_task_container {
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.add_task_container tr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    height: 5rem;
    padding: 1rem;
    border-radius: 10px;
}

.add_task_container input,
.add_task_container select {
    color: azure;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: rgb(93, 9, 93);
}