.Menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(55, 16, 131);
    background: linear-gradient(34deg, rgba(55, 16, 131, 1) 30%, rgba(62, 16, 106, 1) 71%, rgba(70, 23, 125, 0.9752275910364145) 88%);
    border: 1px solid black;
}

.Menu a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: azure;
    border-right: 2px solid black;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 15px;
    padding: .5rem;
}