* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background: rgb(16, 27, 77);
  background: linear-gradient(34deg, rgba(16, 27, 77, 1) 30%, rgba(10, 38, 61, 1) 71%, rgba(11, 13, 56, 0.9752275910364145) 88%);

}